In another repository of mine, I have made a simple linear regression model of the atomic ionization energy, the respective interpretation of the regression coefficents was written, but the accuracy of the model was not that high, So I decided to do a random forest regression model, given that the general "stories" of the data were already told in my preovious notebook

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
valores = {"Atomic Number":np.arange(1,51),
           "State at 20°C":["Gas","Gas","Solid","Solid","Solid","Solid","Gas","Gas","Gas","Gas","Solid","Solid","Solid","Solid","Solid","Solid","Gas","Gas","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Liquid","Gas","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Solid","Solid"],
           "Melting point":[-259.16,np.NaN,180.50,1287,2077,3825,-210,-218.79,-219.67,-248.59,97.794,650,660.323,1414,44.15,115.21,-101.5,-189.34,63.5,842,1541,1670,1910,1907,1246,1538,1495,1455,1084.62,419.527,29.746,938.25,616,220.8,-7.2,-157.37,39.3,777,1522,1854,2477,2622,2157,2333,1963,1554.8,961.78,321.069,156.6,231.928],
           "Boiling point":[-252.87,-268.928,1342,2468,4000,3825,-195.75,-182.96,-188.11,-246.046,882.94,1090,2519,3265,280.5,444.61,-34.04,-185.848,759,1484,2836,3287,3407,2671,2061,2861,2927,2913,2560,907,2229,2833,616,685,58.8,-153.415,688,1377,3345,4406,4741,4639,4262,4147,3695,2963,2162,767,2027,2586],
           "Density":[.000082,.000164,.534,1.85,2.34,2.8565,.001145,.00138,.001553,.000825,.97,1.74,2.7,2.32,1.823,2.07,.0029,.00163,.89,1.54,2.99,4.506,6,7.15,7.3,7.87,8.86,8.9,8.96,7.134,5.91,5.32,5.75,4.8,3.1,.003425,1.53,2.64,4.47,6.52,8.57,10.2,11,12.1,12.4,12,10.5,8.69,7.31,7.287],
           "Relative Atomic Mass":[1.008,4.003,6.94,9.012,10.81,12.011,14.007,15.999,18.998,20.18,22.99,24.305,26.982,28.805,30.974,32.06,35.45,39.95,39.098,40.078,44.956,47.867,50.942,51.996,54.938,55.845,58.933,58.693,63.546,65.38,69.723,72.63,74.922,78.971,79.904,83.798,85.468,87.62,88.906,91.224,92.906,95.95,98,101.07,102.906,106.42,107.868,112.414,114.818,118.71],
           "Atomic Radius":[1.1,1.4,1.82,1.53,1.92,1.7,1.55,1.52,1.47,1.54,2.27,1.73,1.84,2.1,1.8,1.8,1.75,1.88,2.75,2.31,2.15,2.11,2.07,2.06,2.05,2.04,2,1.97,1.96,2.01,1.87,2.11,1.85,1.9,1.85,2.02,3.03,2.49,2.32,2.23,2.18,2.17,2.16,2.13,2.1,2.1,2.11,2.18,1.93,2.17],
           "Ionization Energies":[1312.05,2372.322,520.22,899.504,800.637,1086.454,1402.328,1313.942,1681.045,2080.662,495.845,737.75,577.539,786.518,1011.812,999.589,1251.186,1520.571,418.81,589.83,633.088,658,650.908,652.869,717.274,762.466,760.402,737.129,745.482,906.402,578.845,762.179,944.456,940.963,1139.859,1350.757,403.032,549.47,599.878,640.074,652.13,684.316,702.41,710.18,719.675,804.389,730.995,867.772,558.229,708.581],
           "Block":["s","s","s","s","p","p","p","p","p","p","s","s","p","p","p","p","p","p","s","s","d","d","d","d","d","d","d","d","d","d","p","p","p","p","p","p","s","s","d","d","d","d","d","d","d","d","d","d","p","p"]}

This was the database, after doing some data analysis (In my other notebook)I cleaned the data

In [14]:
df = pd.DataFrame(valores)
df = df.drop('Boiling point',axis=1)
df = pd.get_dummies(df, drop_first=False)

In [15]:
df

,Atomic Number,Melting point,Density,Relative Atomic Mass,Atomic Radius,Ionization Energies,State at 20°C_Gas,State at 20°C_Liquid,State at 20°C_Solid,Block_d,Block_p,Block_s
0,1,-259.160,0.000082,1.008,1.10,1312.050,1,0,0,0,0,1
1,2,NaN,0.000164,4.003,1.40,2372.322,1,0,0,0,0,1
2,3,180.500,0.534000,6.940,1.82,520.220,0,0,1,0,0,1
3,4,1287.000,1.850000,9.012,1.53,899.504,0,0,1,0,0,1
4,5,2077.000,2.340000,10.810,1.92,800.637,0,0,1,0,1,0
5,6,3825.000,2.856500,12.011,1.70,1086.454,0,0,1,0,1,0
6,7,-210.000,0.001145,14.007,1.55,1402.328,1,0,0,0,1,0
7,8,-218.790,0.001380,15.999,1.52,1313.942,1,0,0,0,1,0
8,9,-219.670,0.001553,18.998,1.47,1681.045,1,0,0,0,1,0
9,10,-248.590,0.000825,20.180,1.54,2080.662,1,0,0,0,1,0
10,11,97.794,0.970000,22.990,2.27,495.845,0,0,1,0,0,1
11,12,650.000,1.740000,24.305,1.73,737.750,0,0,1,0,0,1
12,13,660.323,2.700000,26.982,1.84,577.539,0,0,1,0,1,0
13,14,1414.000,2.320000,28.805,2.10,786.518,0,0,1,0,1,0
14,15,44.150,1.823000,30.974,1.80,1011.812,0,0,1,0,1,0
15,16,115.210,2.070000,32.060,1.80,999.589,0,0,1,0,1,0
16,17,-101.500,0.002900,35.450,1.75,1251.186,1,0,0,0,1,0
17,18,-189.340,0.001630,39.950,1.88,1520.571,1,0,0,0,1,0
18,19,63.500,0.890000,39.098,2.75,418.810,0,0,1,0,0,1
19,20,842.000,1.540000,40.078,2.31,589.830,0,0,1,0,0,1
20,21,1541.000,2.990000,44.956,2.15,633.088,0,0,1,1,0,0
21,22,1670.000,4.506000,47.867,2.11,658.000,0,0,1,1,0,0
22,23,1910.000,6.000000,50.942,2.07,650.908,0,0,1,1,0,0
23,24,1907.000,7.150000,51.996,2.06,652.869,0,0,1,1,0,0
24,25,1246.000,7.300000,54.938,2.05,717.274,0,0,1,1,0,0
25,26,1538.000,7.870000,55.845,2.04,762.466,0,0,1,1,0,0
26,27,1495.000,8.860000,58.933,2.00,760.402,0,0,1,1,0,0
27,28,1455.000,8.900000,58.693,1.97,737.129,0,0,1,1,0,0
28,29,1084.620,8.960000,63.546,1.96,745.482,0,0,1,1,0,0
29,30,419.527,7.134000,65.380,2.01,906.402,0,0,1,1,0,0
30,31,29.746,5.910000,69.723,1.87,578.845,0,0,1,0,1,0
31,32,938.250,5.320000,72.630,2.11,762.179,0,0,1,0,1,0
32,33,616.000,5.750000,74.922,1.85,944.456,0,0,1,0,1,0
33,34,220.800,4.800000,78.971,1.90,940.963,0,0,1,0,1,0
34,35,-7.200,3.100000,79.904,1.85,1139.859,0,1,0,0,1,0
35,36,-157.370,0.003425,83.798,2.02,1350.757,1,0,0,0,1,0
36,37,39.300,1.530000,85.468,3.03,403.032,0,0,1,0,0,1
37,38,777.000,2.640000,87.620,2.49,549.470,0,0,1,0,0,1
38,39,1522.000,4.470000,88.906,2.32,599.878,0,0,1,1,0,0
39,40,1854.000,6.520000,91.224,2.23,640.074,0,0,1,1,0,0
40,41,2477.000,8.570000,92.906,2.18,652.130,0,0,1,1,0,0
41,42,2622.000,10.200000,95.950,2.17,684.316,0,0,1,1,0,0
42,43,2157.000,11.000000,98.000,2.16,702.410,0,0,1,1,0,0
43,44,2333.000,12.100000,101.070,2.13,710.180,0,0,1,1,0,0
44,45,1963.000,12.400000,102.906,2.10,719.675,0,0,1,1,0,0
45,46,1554.800,12.000000,106.420,2.10,804.389,0,0,1,1,0,0
46,47,961.780,10.500000,107.868,2.11,730.995,0,0,1,1,0,0
47,48,321.069,8.690000,112.414,2.18,867.772,0,0,1,1,0,0
48,49,156.600,7.310000,114.818,1.93,558.229,0,0,1,0,1,0
49,50,231.928,7.287000,118.710,2.17,708.581,0,0,1,0,1,0

Let's import the random forest

In [26]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error

In [9]:
rf = RandomForestRegressor()

In [10]:
rf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [78]:
params = {'max_depth':[2,4,6,8,10],'criterion':['squared_error','absolute_error'],'max_features':['sqrt','log2'],'min_impurity_decrease':[.09,.12,.25]}

In [79]:
X = df.drop("Ionization Energies",axis=1).values
y = df["Ionization Energies"].values

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [81]:
pip = Pipeline([("imputer",SimpleImputer()),("grdcv",GridSearchCV(rf, param_grid=params,cv=3))])

In [82]:
pip.fit(X_train, y_train)

Pipeline(steps=[('imputer', SimpleImputer()),
                ('grdcv',
                 GridSearchCV(cv=3, estimator=RandomForestRegressor(),
                              param_grid={'criterion': ['squared_error',
                                                        'absolute_error'],
                                          'max_depth': [2, 4, 6, 8, 10],
                                          'max_features': ['sqrt', 'log2'],
                                          'min_impurity_decrease': [0.09, 0.12,
                                                                    0.25]}))])

In [83]:
pip.score(X_test, y_test)

0.7137698920604749

In [84]:
y_pred = pip.predict(X_test)

The random tree model had an improved score!, not surprising, given the flexibility of the random forests